page-home {

}
.toolbar-background {
  background-color: #FFF;
}
.toolbar-title img {
    width: 10%;
    margin-right: 5px;
}
.toolbar-title span{
        position: absolute;
    top: 5px;
}
/*[text-color="my-custom-color"] {
    color: white;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
	color: white;
}
.toolbar-title-md{
	color: white;
}*/
.card-background-page {

  ion-card {
    position: relative;
  }

  .card-title {
    position: absolute;
    top: 70%;
    font-size: .9em;
    width: 100%;
    font-weight: 300;
    color: #fff;
    bottom: 20px;
    left: 10px;
    line-height: 20px;
    padding-right: 10px;
  }

  .card-subtitle {
    position: absolute;
    top: 55%;
    font-size: 0.7em;
    color: #fff;
    left: 10px;
    font-weight: 100;
    background: #8BC34A;
    border-radius: 3px;
    padding: 5px;
    height: 14px;
    text-align: center;
    line-height: 6px;
  }
  .taken,.claps {
    position: initial;
  }
  .taken img {
    position: absolute;
    width: 7%;
    z-index: 3;
    left: 10px;
    top: 10px;
	}
 .claps img{
 	position: absolute;
    width: 7%;
    z-index: 3;
    right: 42px;
    top: 10px;
 }
 .taken p{
 	position: absolute;
    display: block;
    top: 8px;
    left: 43px;
    font-size: 10px;
    color: #fff;
    font-weight: 100;
 }
 .claps p{
 	position: absolute;
    display: block;
    top: 8px;
    right: 19px;
    font-size: 10px;
    color: #fff;
    font-weight: 100;
 }
 .taken p span{
 	position: absolute;
 	display:block;
 }
 .claps p span{
 	position: absolute;
 	display:block;
 }

}