// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.menu-inner{
	width:100%;
}
.cat-card {
    text-align: center;
}
.cat-card img{
    width:55%;
    display:block;
    margin:20px auto;
}
.cat-card h1{
	font-size: 1.3rem;
	font-weight:400;
	margin-bottom:10px;
}
ion-grid.category-menu.grid{
    margin-top: 275px;
}
ion-card.custom-card.card.card-md {
    margin: 0px;
    width: 100%;
    box-shadow: none;
}