<!--
  Generated template for the DetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow no-border>

	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="ios-arrow-back"></ion-icon>
    </button>
		<ion-title text-color="my-custom-color"><img src="assets/imgs/bharathi.svg" /><span>How do you design...</span></ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	<ion-slides pagers (ionSlideDidChange)="slideChanged()">
		<ion-slide *ngFor="let item of linkQuestions">
			<h1 class="each-question">{{item.LinkQuestion}}</h1>
			<ion-list>
				<ion-grid>
					<ion-row>
						<ion-col col-6 col-sm-6 *ngFor="let options of item.LinkAnswer">
							<ion-card class="bg-grey">
								<img src="assets/imgs/bells.png">
								<label>{{options.option}}</label>
								<ion-radio (ionChange)="updateSlide($event,options)"></ion-radio>
							</ion-card>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-list>
		</ion-slide>
	</ion-slides>
</ion-content>